@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Minion Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: theme('colors.dark');
}

.container {
  max-width: 512px;
}
